@page
@model _17bangqianduan.Pages.CommonQuestionsModel
@{
    ViewData["Title"] = "CommonQuestions";
}

<!DOCTYPE html>
<html>
<head>
    <title>
        常见问题-一起帮
        
    </title>
</head>
<body>
    <header>
        <meta charset="utf-8" />
        <meta name=" keywords" content="" />
        <link href="~/image/一起帮logo.jpg" />
    </header>
    <article>常见问题</article>
    <h1>账户</h1>
    <div>Q：邀请码是怎么一回事？？</div>
    <br />
    <div>Q：为什么会提示“邀请人数达到上限”？</div>
    <br />
    <div>Q：系统如何是确定“最后（上次）登录时间”的？</div>
    <br />
    <div>Q：“最后登录时间”有什么用处？</div>
    <br />
    <div>Q：邮箱有什么作用？</div>
    <br />
    <div>Q：为什么我收不到邮件通知？</div>

    <h1> 帮帮点</h1>
    <div>Q：什么是帮帮点？有什么用处？</div>
    <br />
    <div>Q：如何才能获得帮帮点？</div>
    <br />
    <h1>帮帮币</h1>
    <div>< Q：什么是帮帮币？有什么用处？</div>
    <br />
    <div> Q：引入“帮帮币”的目的是什么？</div>
    <br />
    <div> Q：如何才能获得帮帮币？</div>
    <br />
    <div>Q：作为买方，如何保证交易安全？</div>
    <br />
    <div>Q：如何出售帮帮币？</div>
    <br />
    <div>Q：如何成为“系统推荐卖家”？</div>
    <br />
    <div>Q：作为卖方，如何保证交易安全？</div>
    <br />
    <div>Q：帮帮币出售时为什么要设置“门槛”？ </div>

    <h1>帮帮豆</h1>
    <div>Q：什么是帮帮豆？有什么用处？ </div>
    <br />
    <div>Q：怎么获取帮帮豆？</div>
    <br />
    <div>Q：为什么我反复登录帮帮豆都没有变化？ </div>
    <br />
    <div>Q：我昨天剩余的帮帮豆那去了？</div>
    <br />
    <div> Q：一张表区分帮帮“点 /豆/币”？</div>

    <h1>消息和通知</h1>
    <div>  Q：用户消息和系统通知有什么区别？ </div>
    <br />
    <div> Q：如何设置用户消息接收？ </div>
    <br />
    Q：我能不能禁用掉系统通知？ </div>

    <h1>求助流程</h1>
    <div> Q：为什么发布一个求助这么麻烦？</div>
    <br />
    <div>  Q：正常的求助流程应该是怎样的？</div>
    <br />
    <div> Q：那么，“非正常”的求助流程呢？</div>
    <br />
    <div>  Q：应答上面的图标有何含义？</div>
    <br />
    <div>  Q：发布如何设置悬赏数额？</div>
    <br />
    <div>  Q：“据实结算”是怎么一回事？</div>
    <br />
    <div>  Q：“开始协助”如何操作的？为什么非常重要？</div>
    <br />
    <div>  Q：协助超时提醒是怎么回事？</div>
    <br />
    <div>  Q：求助人一直不酬谢帮帮币怎么办？</div>
    <br />
    <div> Q：酬谢时默认的评价为什么是四星？</div>
    <br />
    <div> Q：问题没有解决？</div>
    <br />
    <div>  Q：为什么求助没有解决也要扣我的帮帮币？/(ㄒoㄒ)/~~</div>
   <div> <br />
    Q：为什么要写总结？</div>
    <br />
    <div>  Q：什么时候可以撤销？</div>

    <h1>督促</h1>
    <div>  Q：简单介绍一下“督促”这个功能吧？</div>
    <br />
    <div> Q：什么是“目标”？什么是“作业”？</div>
    <br />
    <div>  Q：为什么“交作业”可以延期，还可以请假？</div>
    <br />
    <div>  Q：如何设置和提交“证据”？</div>
    <br />
    <div> Q：如何选择“好心人”的人数？</div>
    <br />
    <div>  Q：不交作业的惩罚是……？</div>
    <br />
    <div>  Q：好心人如何获得未交作业的奖励？</div>
    <br />
    <div> Q：交上去的作业被无理拒绝验收怎么办？ </div>
    <br />
    <div>  Q：不想玩了肿么办？ </div>
    <br />
    <div>  Q：完成情况里的图标是什么意思？</div>

    <h1>文章</h1> 
    <div>Q：如何成为精选评论？</div>

    <h1意见建议></h1意见建议> 
    <div>  Q：为什么会获得管理员奖励？</div>

    <h1>关键字</h1>
    <div>  Q：发布求助时为什么要填写关键字？</div>
    <br />
    <div>  Q：关键字如何填写为佳？</div>
    <br />
    <div>  Q：什么是用户关注的关键字？</div>
    <br />
    <div>  Q：用户关注有什么用？</div>
    <br />
    <div>  Q：用户关注如何设置？</div>
    <br />
    <div>  Q：用户关注自动如何补足？</div>

    <h1>广告推广</h1>
    <div>  Q：为什么会允许社区用户在“一起帮”上做广告推广？</div>
    <br />
    <div>  Q：“一起帮”有哪些推广形式？</div> >
    <br />
    <div>  Q：“联系方式栏推广”里的捐赠是什么意思？</div>
    <br />
    <div>  Q：侧边栏广告的花费？</div>
    <br />
    <div>  Q：文章下面的广告如何发布？</div>

    捐赠
    <div> Q：为什么会想到“捐赠”？</div>
    <br />
    <div> Q：为什么要留下用户名？</div>
    <br />
    <div> Q：没有在“一起帮”注册可以捐赠吗？</div>
    <br />
    <div>  Q：“认领”是一个什么概念？</div>

    测试
    <div> Q：为什么会有“新人”测试？</div>
    <br />
    <div>  Q：为什么会有“首次求助”测试？</div>





    <aside></aside>
    <footer></footer>
</body>
</html>

