@page
@model _17bangqianduan.Pages.Shared.ContactWayModel
@{
    ViewData["Title"] = "ContactWay";
}

<h1>我的推广</h1>
<form method="post">
    <label>推广链接： </label>
    <label><input type="radio" name="option" value="稍后设置" />稍后设置</label>
    <label><input type="radio" name="option" value="赠送给“一起帮”" />赠送给“一起帮”  </label><br />
    <label>文字内容：（* 必填）</label><br />
<input type="text" name="UserName" />
<br />
<label>链接：（* 必填）</label>
<br />
<input type="text" name="UserName" />
<br />
<input type="submit" value="提交" />
<input type="reset" value="重置" />
</form>