@page
@model _17bangqianduan.Pages.HelpPointModel
@{
    ViewData["Title"] = "HelpPoint";
}

<table border="1">
    <thead>
        <tr>
            <td>社区活动	</td>
            <td>点数</td>
            <td>备注</td>
        </tr>
    </thead>
</table>

