@page
@model _17bangqianduan.Pages.PersonalInformationModel
@{
    ViewData["Title"] = "PersonalInformation";
}

<header>个人资料</header>
<form method="post" enctype="multipart/form-data">
    <label>头像：（* 仅限jpg/png/gif）</label><br />
    <input type="file" value="浏览" /><br />
    <label>性别：</label>
    <label><input type="radio" name="gender" value="male" />男</label>
    <label><input type="radio" name="gender" value="female" />女</label><br />
    <label>生日：</label>
    <select name="birthday">
        <option></option>
           
    </select><br />
    <label>关键字</label>
    <select></select><br />
    <label>自我介绍：</label> <br />
    <textarea name="SelfDescription" placeholder="简单的介绍下自己，不超过255字"></textarea>
    <input type="submit" value="提交"/>
</form>