@page
@model _17bangqianduan.Pages.Problem.SingleModelModel
@{
    ViewData["Title"] = "SingelMdoel";
}

<h1>SingleMdoel</h1>
<h2> <a href="@Model.problemModel.Id">@Model.problemModel.Title</a></h2>
<h5>@Model.problemModel.Author.Name</h5>
<p>@Model.problemModel.Abstract</p>
